{include file="common:head"}
<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">

{include file="common:header"}
<!-- Left side column. contains the logo and sidebar -->
{include file="common:navbar"}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       等级
        <small>添加等级</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="{:url('admin/rank/index')}">等级</a></li>
        <li class="active"><a href="{:url('admin/member/add')}">添加等级</a></li>
      </ol>
    </section>
 
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">添加等级</h3>
              
            </div>
            <div class="box-body no-padding">
              <form method="post" action={:url('edit')} id="edit">
                <div class="box-body">
                <div class="form-group">
                    <label for="uname" id="uname_label" class="uname">等级名称</label>
                    <input class="form-control" id="rank_name" name="rank_name" value="{$user_rank.rank_name}" placeholder="等级名称" type="text">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="nname">积分下线</label>
                    <input class="form-control" id="min_points" name="min_points" value="{$user_rank.min_points}" placeholder="积分下线" type="text">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="nname">积分上线</label>
                    <input class="form-control" id="max_points" name="max_points" value="{$user_rank.max_points}" placeholder="积分上线" type="text">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="discount">初始折扣率</label>
                    <input class="form-control" id="discount" name="discount" placeholder="初始折扣率" value="{$user_rank.discount}" type="text">
                  </div>
                  <div class="pull-right">
                <button class="btn btn-success" onclick="javascript:history.back(-1);return false;">返 回</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="hidden" name="rank_id" value="{$user_rank.rank_id}">
                <button type="button"  class="btn btn-primary submit">确 定</button>
              </div>
              </form>

<script type="text/javascript"> 
      $(function(){
    $('.submit').click(function () {
        var rank_name = $("#rank_name").val();
        var min_points = $("#min_points").val();
        var max_points = $("#max_points").val();
        var discount = $("#discount").val();
        if(rank_name == ''){
          msgerr("等级名称不能为空");
          return false;
        }
        if(min_points == ''){
          msgerr("积分下线不能为空");
          return false;
        }else if(isNaN(min_points)){
          msgerr("积分下线必须为数字");
          return false;
        }
        if(max_points == ''){
          msgerr("积分上线不能为空");
          return false;
        }else if(isNaN(max_points)){
          msgerr("积分上线必须为数字");
          return false;
        }else if(min_points >= max_points){
          msgerr("积分上线必须大于积分下线");
          return false;
        }

        if(discount == ''){
          msgerr("初始折扣率不能为空");
          return false;
        }else if(isNaN(discount)){
          msgerr("初始折扣率必须为数字");
          return false;
        }

        $.ajax({
          cache: true,
          type: "POST",
           url: '{:url('rank/edit')}',
          data: $('#edit').serialize(),
          async: false,
            success: function(data) {
              if (data.code) {
                  msgok(data.msg);
                  setTimeout(function () {
                    location.href = data.url;
                  }, 1000);
              } else {
                  msgerr(data.msg);
              }

            },
            error: function(request) {
              msgerr("页面错误");
            }
        });
    });
          })
     
</script>
             
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  {include file="common:footer"}
</div>
<!-- ./wrapper -->
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>
</body>
</html>










