{include file="common:head"}
<style type="text/css">
  .bg {
    height:230px;
  }

</style>
  
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">

{include file="common:header"}
<!-- Left side column. contains the logo and sidebar -->
{include file="common:navbar"}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主题设置
        <small>主题列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{:url('Index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="{:url('admin/link/index')}">插件</a></li>
        <li><a>主题设置</a></li>
        
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
                                         
               <h4>主题设置</h4>
             
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
            
              <div class="table-responsive mailbox-messages">
              <div class="container-fluid bg">
                <div class="row" >                  
              {volist name="file" id="vo" offset="2"}
              {eq name="result" value="$vo"}
              <div class="col-lg-3 col-md-4 col-ms-4 col-xs-6 bg">
              <div style="border-width:10px;width:236px;height:200px;float:left;margin:10px 10px 10px 35px">
              <span class="label label-success">{$vo}&nbsp;主题</span><br/>
              <img src="ROOT_PATH/themes/{$vo}/screenshot.jpg"  height="150" width="230" style="border:3px solid green"/>
              <div class="pull-left" style="margin-top:5px;"> <button  type="button" name="{$vo}" class="btn btn-block btn-primary btn-xs ">应用</button></div><div style="padding-top:5px;margin-left:180px;"><span class="label label-success" >已应用</span></div>
              </div>
              </div>
              {else/}
              <div class="col-lg-3 col-md-4 col-ms-4 col-xs-6 bg">
              <div style="border-width:50px;width:236px;height:200px;float:left;margin:10px 10px 10px 35px">
              {$vo}&nbsp;主题<br/>
              <img src="ROOT_PATH/themes/{$vo}/screenshot.jpg"  height="150" width="230" />
              <div class="pull-left" style="margin-top:5px;"> <button  type="button" name="{$vo}" class="btn btn-block btn-primary btn-xs ">应用</button></div>  
              </div>
              </div>
              {/eq}
            {/volist}
                  </div>
                </div>
                
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="pull-right" style="margin-right:20px;">
             
            </div>
              <!-- /.box-tools -->
           </div> 
          <!-- /. box -->

            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {include file="common:footer"}

</div>

<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>

<script type="text/javascript">
  $.widget.bridge('uibutton',$.ui.button);  

  //判断使用了哪个主题
  $('button').click(function(){        
    var name=$(this).attr('name');

    $.ajax({
        cache:true,
        type :"POST",
        url  :'{:url('change')}',
        data :{
          "name":name       
        },
        async:false,
           success:function(data){
            if(data.code){
              msgok(data.msg);
              setTimeout(function(){
                location.href=data.url;
              },1000);
            } else {
              msgerr(data.msg);
            }
           },
           error:function(request){
            msgerr("页面错误");
           }
      }); 
  });
</script>

<script>
  $(function () {
    
    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
        $(".fa", this).removeClass("fa-check-square-o").addClass('');
      } else {
        //Check all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("check");
        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });

    //Handle starring for glyphicon and font awesome
    
  });
      
      function dele(){
        if (!confirm("确认要删除？")) {
            return false;
        }
        else{
      var check = document.getElementsByName("check");
      
      var len=check.length;
      var idAll="";
  
      for(var i=0;i<len;i++){
        if(check[i].checked){
          ids=idAll+=check[i].value+",";
         
        }
     
      }
    
      $.ajax({
        type: "POST",
        url: "{:url('menu/delAll')}",
        data: {ids:ids},
        dataType: "json",
        success: function(data){
          msgok(data.msg);
  
        }

      });
    }
  }
</script>
<script>
    function del(id){
        if (!confirm("确认要删除？")) {
            return false;
        }else{
            var id = id;
            $.ajax({
             type: "POST",
             url: "{:url('menu/del')}",
             data: {id:id},
             dataType: "json",
             success: function(data){
             msgok(data.msg);
      
                      }

         });
        }
    }
</script>
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>
</body>
</html>