{include file="common:head"}
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">
  {include file="common:header"}
  <!-- Left side column. contains the logo and sidebar -->
  {include file="common:navbar"}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        仪表盘
        <small>控制面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">仪表盘</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <!-- <div class="col-lg-3 col-xs-6"> -->
          <!-- small box -->
          <!-- <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>新订单</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">更多 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div> -->
        <!-- ./col -->
       <!--  <div class="col-lg-3 col-xs-6"> -->
          <!-- small box -->
          <!-- <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>跳出率</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">更多 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div> -->
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{$user_num}</h3>

              <p>用户</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">更多 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{$post_num}</h3>

              <p>文章</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">更多 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      {if condition="$new_ver['version']"}
      <div class="alert alert-danger" role="alert">
       [ 发现新版本{$new_ver['version']} ]&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('Upgrade/index')}" style="text-decoration:none;">查看详情</a>
      </div>
      {/if}
      
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
          
              <!-- Morris chart - Sales -->
               <div class="col-md-13">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">系统信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-condensed">
                <tr>
                  <th style="width: 10px"></th>
                  <th>
                    版本
                  </th>
                  <th >{$version}
                  </th>
                  <th style="width: 40px"></th>
                </tr>
                <tr>
                  <td></td>
                  <td>服务器操作系统</td>
                  <td>
                    
                     {$Think.server.SERVER_NAME}
                   
                  </td>
                  
                </tr>
                <tr>
                  <td></td>
                  <td>thinkphp版本</td>
                  <td>
                   {$Think.THINK_VERSION}
                  </td>
                  
                </tr>
                <tr>
                  <td></td>
                  <td>是否属于Windows环境</td>
                  <td>{eq name="Think.IS_WIN" value="1"}
                      是
                      {else/}
                      否
                      {/eq}
                  
                  </td>
              
                </tr>
                <tr>
                  <td></td>
                  <td>MYSQL版本</td>
                  <td>
                      5.5.40
                  </td>
                  
                </tr>
                
              </table>
            </div>
            <!-- /.box-body -->
          </div>
         
          <!-- /.nav-tabs-custom -->
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6 connectedSortable">

          <!-- Map box -->
          <div class="nav-tabs-custom">
          
              <!-- Morris chart - Sales -->
               <div class="col-md-13">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">产品团队</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-condensed">
                <tr>
                  <th style="width: 10px"></th>
                  <th>总策划</th>
                  <th>张勃
                  </th>
                  <th style="width: 40px"></th>
                </tr>
                <tr>
                  <td></td>
                  <td>产品设计及研发团队</td>
                  <td>
                    
                     张勃&nbsp;&nbsp;&nbsp;杨华东&nbsp;&nbsp;&nbsp;刘红军&nbsp;&nbsp;&nbsp;
                  </td>
                  
                </tr>
                <tr>
                  <td></td>
                  <td>界面及用户体验团队</td>
                  <td>
                    张勃&nbsp;&nbsp;&nbsp;王冰冰
                  </td>
                  
                </tr>
                <tr>
                  <td></td>
                  <td>官方网址</td>
                  <td>
                    www.vip026.com
                  </td>
              
                </tr>
                <tr>
                  <td></td>
                  <td>BUG反馈</td>
                  <td>
                        QQ:120228664
                  </td>
                  
                </tr>
                 <tr>
                 
                  
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
         
          <!-- /.box -->
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  {include file="common:footer"}

  
</div>
<!-- ./wrapper -->

<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>

<script>
  $('.download').click(function(){
      address = $(this).attr('data')
      $.ajax({
          cache: true,
          type: "POST",
          url: '{:url('System/downloadNew')}',
          data: {address:address},
          async: false,
            success: function(data) {
              if (data.code) {
                  if(confirm("确定要清空数据吗？")){
                    alert(1);
                  }else{
                    alert(2);
                  }
                  // alert(data.msg);
              } else {
                  // alert(data.msg);
              }

            },
            error: function(request) {
              alert("页面错误");
            }
        });
  })
</script>
</body>
</html>







