{include file="common:head"}
<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">

{include file="common:header"}
<!-- Left side column. contains the logo and sidebar -->
{include file="common:navbar"}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       促销管理
        <small>添加优惠券</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="{:url('admin/bonus_type/index')}">促销管理</a></li>
        <li class="active"><a href="{:url('admin/bonus_type/add')}">添加优惠券</a></li>
      </ol>
    </section>
 
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">添加优惠券</h3>
              
            </div>
            <div class="box-body no-padding">
              <form method="post" action={:url('add')} id="add">
                <div class="box-body">
				  <div class="form-group">
                    <label for="uname" class="couponname">优惠券名称</label>
                    <input class="form-control" id="couponname" name="couponname" value="" placeholder="优惠券名称" type="text">
                  </div>
				  <div class="form-group">
                    <label for="uname" class="sendtype" style="margin-right:15px;">发放类型</label>
					<input name="sendtype" value="0" checked="true" onclick="showunit(0)" type="radio">
					按用户发放
					<input name="sendtype" value="1" onclick="showunit(1)" type="radio">
					按商品发放
					<input name="sendtype" value="2" onclick="showunit(2)" type="radio">
					按订单金额发放
					<input name="sendtype" value="3" onclick="showunit(3)" type="radio">
					线下发放的红包 
                  </div>
				  <div class="form-group">
                    <label for="uname" class="minamount">最小订单金额</label>
                    <input class="form-control" id="minamount" name="minamount" value="" placeholder="最小订单金额" type="text">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="couponnumber">优惠券数量</label>
                    <input class="form-control" id="couponnumber" name="couponnumber" value="" placeholder="数量" type="text">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="starttime">开始时间</label>
                    <input class="form-control" name="starttime" id="starttime" value="" placeholder="开始时间" type="email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="endtime">结束时间</label>
                    <input class="form-control" id="endtime" name="endtime" placeholder="结束时间" value="" type="text">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="term">优惠券有效期</label>
                    <input class="form-control" id="term" name="term" placeholder="有效期" value="" type="text">
                  </div>
                  <div class="pull-right">
                <button class="btn btn-success" onclick="javascript:history.back(-1);return false;">返 回</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button"  class="btn btn-primary submit">确 定</button>
              </div>
              </form>

<script type="text/javascript"> 
      $(function(){
    $('.submit').click(function () {
        $.ajax({
          cache: true,
          type: "POST",
           url: '{:url('bonus_type/add')}',
          data: $('#add').serialize(),
          async: false,
            success: function(data) {
              if (data.code) {
                  msgok(data.msg);
                  setTimeout(function () {
                    location.href = data.url;
                  }, 1000);
              } else {
                  msgerr(data.msg);
              }

            },
            error: function(request) {
              msgerr("页面错误");
            }
        });
    });
          })
     
</script>
             
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  {include file="common:footer"}
</div>
<!-- ./wrapper -->
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="STATIC_PATH/plugins/layer/laydate.dev.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>
<script>
	//添加日期
	laydate({   
		elem: '#starttime'
	});
	laydate({   
		elem: '#endtime'
	});
</script>
</body>
</html>










