{include file="common:head"}
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">

  {include file="common:header"}
  <!-- Left side column. contains the logo and sidebar -->
 
{include file="common:navbar"}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        设置
        <small>添加基本设置</small>
      </h1>
      <ol class="breadcrumb">
       <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="{:url('admin/config/edit')}">设置</a></li>
        <li class="active">添加基本设置</li>
      </ol>
    </section>

    <!-- Main content -->
      <!-- form start -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
           <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">添加基本设置</h3>
             
            </div>
            <div class="tab-content">
              <!-- Font Awesome Icons -->
              <form  method="post" action="" id='form1'>
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">设置名称</label>
                  <input type="text" class="form-control" id="key" name="key" value="" placeholder="设置的关键字，必须是英文或下划线，如:web_site_icp" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">设置描述</label>
                  <input type="text" class="form-control" id="description" value="" name="description" placeholder="对此项设置的详细描述" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">默认值(可为空)</label>
                  <input type="text" class="form-control" id="value" value="" name="value" placeholder="此项设置默认值">
                </div>                              
                
              <!-- /.box-body -->

              <div class="pull-right">
                <button class="btn btn-success" onclick="javascript:history.back(-1);return false;">返 回</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" onclick="submitInfo()" class="btn btn-primary">确 定</button>
              </div>
            </form>
                
              </div>
              <!-- /#fa-icons -->

            </div>
            <!-- /.tab-content -->
          </div>
          </div>
          <!-- /.nav-tabs-custom -->
          </section>
           </div>
 
  <!-- /.content-wrapper -->
  {include file="common:footer"}



  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>
<script type="text/javascript">
  var uploadPictuer     = '{:url('Upload/uploadPicture')}';
  var uploadFlash       = 'STATIC_PATH/plugins/webuploader/dist/Uploader.swf';
  var ueditorUploadPath = '{:url('ueditor/index')}';
</script>
<link rel="stylesheet" type="text/css" href="STATIC_PATH/plugins/webuploader/css/webuploader.css" />
<script type="text/javascript" src="STATIC_PATH/plugins/webuploader/dist/webuploader.js"></script>
<script type="text/javascript" src="STATIC_PATH/plugins/webuploader/dist/onefile.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
  function submitInfo(){
       
    var title = $("#title").val();
    var description = $("#description").val();
    var keyword = $("#keyword").val();
    var site_close = $("#site_close").val();
    var site_icp = $("#site_icp").val();
    var allow_register = $("#allow_register").val();
    var allow_ticket = $("#allow_ticket").val();
    // alert($('#form1').serialize());
    // return false;
    $.ajax({
      type: "POST",
      cache: true,
      url: "{:url('admin/config/edit')}",
      data: $('#form1').serialize(),
      dataType: "json",
      async: false,
      success: function(data) {
        if (data.code) {
          msgok(data.msg);
          location.reload();                  
        } else {
          msgerr(data.msg);
        }
      },
      error: function(request) {
        msgerr("页面错误");
      }
    });
  }
</script>
<script type="text/javascript">
  var val_close = eval(document.getElementById('close')).value;

  var val_register =document.getElementById('register').value;
  var val_ticket =document.getElementById('ticket').value;
  // alert(val_register);
  $("#site_close option[value="+val_close+"]").attr("selected",true);
  $("#allow_register option[value="+val_register+"]").attr("selected",true);
  $("#allow_ticket option[value="+val_ticket+"]").attr("selected",true);
 </script>
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>
</body>
</html>






