{include file="common:head"}
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">

{include file="common:header"}
<!-- Left side column. contains the logo and sidebar -->
{include file="common:navbar"}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       个人
        <small>个人资料</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="{:url('admin/user/edit')}">个人</a></li>
        <li class="active"><a>修改密码</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">修改密码</h3>
              
            </div>
            <div class="box-body no-padding">
              <form role="form" id="changePass" action="{:url('user/password')}" method="post">
                <div class="box-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">请输入原密码</label>
                    <input class="form-control" name="password" value="" placeholder="请输入原密码" type="password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">请输入新密码</label>
                    <input class="form-control" name="repassword" value="" placeholder="请输入新密码" type="password">
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">确认新密码</label>
                    <input class="form-control" name="confirmpassword" placeholder="确认新密码" value="" type="password">
                  </div>
               
                  
                    <div class="pull-right">
                <button class="btn btn-success" onclick="javascript:history.back(-1);return false;">返 回</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button"  class="btn btn-primary submit">确 定</button>
              </div>
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  {include file="common:footer"}
</div>
<!-- ./wrapper -->

<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>
<script type="text/javascript">
 $(function () {
    
      // 编辑
    $('.submit').click(function () {
        $.ajax({
          cache: true,
          type: "POST",
          url : '{:url('user/password')}',
          data: $('#changePass').serialize(),
          async: false,
            success: function(data) {
              if (data.code) {
                  msgok(data.msg);
                  setTimeout(function () {
                    location.href = data.url;
                  }, 1000);
              } else {
                  msgerr(data.msg);
              }

            },
            error: function(request) {
              msgerr("页面错误");
            }
        });
    });
    })
  
</script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>
</body>
</html>









