
<div class="pull-left" style="margin-left:15px;">
	<a href="{:url('wxmenu')}" class="btn btn-block btn-primary btn-sm">菜单设置</a>
</div>
<div class="pull-left" style="margin-left:15px;">
	<a href="{:url('reply?type=1')}" class="btn btn-block btn-primary btn-sm">添加自动回复</a>
</div>
<div class="pull-left" style="margin-left:15px;">
	<a href="{:url('reply?type=2')}" class="btn btn-block btn-primary btn-sm">消息自动回复</a>
</div>
<div class="pull-left" style="margin-left:15px;">
	<a href="{:url('keywords')}" class="btn btn-block btn-primary btn-sm">关键词自动回复</a>
</div>