{include file="common:head"}
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">

  {include file="common:header"}
  <!-- Left side column. contains the logo and sidebar -->
 
{include file="common:navbar"}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>        
           订单详情 
                        
      </h1>
      <ol class="breadcrumb">
        <li><a href="{:url('Index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active"><a href="{:url('order/index')}">订单</a></li>
        <li class="active">订单详情</li>
      </ol>
    </section>

    <!-- Main content -->
      <!-- form start -->
          <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#fa-icons">订单详情</a></li>
              
            </ul>
            <div class="tab-content">
                
            <form id="form">
              <table class="table table-bordered" >
                <tr>
                  <td style="text-align:right;padding-right:20px;">订单号</td>
                  <td style="text-align:left;padding-left:20px;">{$ordersInfo.order_no}</td>
                  <td style="text-align:right;padding-right:20px;">生成订单时间 </td>
                  <td style="text-align:left;padding-left:20px;">{$ordersInfo.createtime|date="Y-m-d H:i:s ",###}</td>
                  <td style="text-align:right;padding-right:20px;">支付类型 </td>
                  <td style="text-align:left;padding-left:20px;">{$ordersInfo.pay_type}</td>
                </tr>
                <tr>
                  <td style="text-align:right;padding-right:20px;">订单总价</td>
                  <td style="text-align:left;padding-left:20px;">{$ordersInfo.amount}</td>
                  <td style="text-align:right;padding-right:20px;">配送方式 </td>
                  <td style="text-align:left;padding-left:20px;">
                    {$ordersInfo.shipping_name}
                  </td>
                  <td style="text-align:right;padding-right:20px;">配送费用  </td>
                  <td style="text-align:left;padding-left:20px;">{$ordersInfo.shipping_fee}</td>
                </tr>
                <tr>
                  <td style="text-align:right;padding-right:20px;">收货人</td>
                  <td style="text-align:left;padding-left:20px;">
                  <input type="text" name="consignee_name" value="{$ordersInfo['consignee_name']}">
                  </td>
                  <td style="text-align:right;padding-right:20px;">联系方式  </td>
                  <td style="text-align:left;padding-left:20px;">
                    <input type="text" name="mobile" value="{$ordersInfo['mobile']}">
                  </td>
                  <td style="text-align:right;padding-right:20px;">收货地址  </td>
                  <td style="text-align:left;padding-left:20px;">
                    {$ordersInfo['address']}
                  </td>
                </tr>
                <tr>
                  <td style="text-align:right;padding-right:20px;">支付订单时间</td>
                  <td style="text-align:left;padding-left:20px;">
                    {empty name="data.paid"}
                        暂时没有数据
                    {else /}
                        {$data.paid|date="Y-m-d H:i:s ",###}
                    {/empty}
                  </td>
                  <td style="text-align:right;padding-right:20px;">订单发货时间</td>
                  <td style="text-align:left;padding-left:20px;">
                    {empty name="data.shipped"}
                        暂时没有数据
                    {else /}
                        {$data.shipped|date="Y-m-d H:i:s ",###}
                    {/empty}
                  </td>
                  <td style="text-align:right;padding-right:20px;">订单完成时间</td>
                  <td style="text-align:left;padding-left:20px;">
                    {empty name="data.completed"}
                        暂时没有数据
                    {else /}
                        {$data.completed|date="Y-m-d H:i:s ",###}
                    {/empty}
                  </td>
                </tr>
                 <tr>
                  <td style="text-align:right;padding-right:20px;">订单状态</td>
                  <td style="text-align:left;padding-left:20px;">
                    {switch name="ordersInfo.status" }
                      {case value="nopaid"}待支付{/case}
                      {case value="paid"}已支付待发货{/case}
                      {case value="shipped"}已发货{/case}
                      {case value="completed"}已完成{/case}
                      {case value="cancel"}用户取消{/case}
                      {case value="delete"}用户删除{/case}
                    {/switch}
                  </td>
                  <td style="text-align:right;padding-right:20px;"> 快递</td>
                  <td style="text-align:left;padding-left:20px;">
                  	<input value="{$ordersInfo['express_type']}" name="express_type"  type="text">
                  </td>
                  <td style="text-align:right;padding-right:20px;"> 快递单号</td>
                  <td style="text-align:left;padding-left:20px;"><input value="{$ordersInfo['express_no']}" name="express_no"  type="text"></td>
              </tr>
              </table>
              <input type="hidden" name="ordersId" value="{$ordersInfo['id']}">
              <div >
                <input type="submit" value="提交"  style="float:right" class="submit btn btn-primary">
                {eq name="ordersInfo.status" value="paid"}
                <input type="submit" value="发货"  style="float:right;margin-right:20px;" class="send btn btn-success">
                {/eq}
                {eq name="ordersInfo.status" value="shipped"}
                <input type="submit" value="完成"  style="float:right;margin-right:20px;" class="completed btn btn-success">
                {/eq}
              </div>
              </div>
             
              </form> 
  <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                  
                    <th>商品名称</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>总价</th>
                    <th>规格</th>                    
                  </tr>
                  </thead>
                  <tbody>
                      {volist name="goodInfo" id="list"}
                  <tr>
                                      
                   <td>{$list.name}</td>
                   <td>{$list.price}</td>
                   <td>{$list.num}</td>
                   <td>{$list.num*$list.price}</td>
                   <td>{$list.standard}</td>
        
                  </tr>
                  {/volist}

                 
                  </tbody>
                  <thead>
                  <tr>                  
                    <th>商品名称</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>总价</th>
                    <th>规格</th>                    
                  </tr>
                  </thead>
                </table>
            </div>
            <!-- /.tab-content -->
          </div>
          </div>
          <!-- /.nav-tabs-custom -->
          </section>
           </div>
 
  <!-- /.content-wrapper -->
  {include file="common:footer"}



</div>
<!-- ./wrapper -->

<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<script type="text/javascript">
  
  var val_status =  $("#status").val();
  $("#status1 option[value="+val_status+"]").attr("selected",true);

  $('.submit').click(function () {
        $.ajax({
          cache: true,
          type: "POST",
          url : '{:url('edit')}',
          data: $('#form').serialize(),
          async: false,
            success: function(data) {
              if (data.code) {
                  msgok(data.msg);
                  setTimeout(function () {
                    location.href = data.url;
                  }, 1000);
              } else {
                  msgerr(data.msg);
              }

            },
            error: function(request) {
              msgerr("页面错误");
            }
        });
    });
  
    $('.send').click(function () {
        $.ajax({
          cache: true,
          type: "POST",
          url : '{:url('send')}',
          data: $('#form').serialize(),
          async: false,
            success: function(data) {
              if (data.code) {
                  msgok(data.msg);
                  setTimeout(function () {
                    location.href = data.url;
                  }, 1000);
              } else {
                  msgerr(data.msg);
              }

            },
            error: function(request) {
              msgerr("页面错误");
            }
        });
    });

    $('.completed').click(function () {
        $.ajax({
          cache: true,
          type: "POST",
          url : '{:url('completed')}',
          data: $('#form').serialize(),
          async: false,
            success: function(data) {
              if (data.code) {
                  msgok(data.msg);
                  setTimeout(function () {
                    location.href = data.url;
                  }, 1000);
              } else {
                  msgerr(data.msg);
              }

            },
            error: function(request) {
              msgerr("页面错误");
            }
        });
    });

 </script>

 <!-- <script>
 function submitInfo(){

        var id = $("#id").val();
        var order_no = $("#order_no").val();
        var pay_type = $("#pay_type").val();
        var price = $("#price").val();
        var num = $("#num").val();
        var amount = $("#amount").val();
        var status = $("#status1").val();
        
      
         $.ajax({
             type: "POST",
             url: "{:url('admin/order/edit')}",
             data: {id            :id,
                    post_title    :post_title,
                    order_no      :order_no,
                    pay_type      :pay_type,  
                    price         :price,
                    num           :num,
                    amount        :amount,
                    status        :status
                    },
             dataType: "json",
             success: function(data){
                     alert(data.msg);
                      },
        
         });
        
    }
  
</script> -->
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>
</body>
</html>






