body a,a:link,a:hover, a:active, a:visited{text-decoration: none;color: inherit;}

/*登陆*/
.head{
	height: 50px;
	line-height: 50px;
	margin-top:40px;
}
.head img{
	vertical-align:middle;height:25px
}
/*底部导航高亮*/
.mui-active{
	color: #1cbb7f!important;
}
.main{
	padding-left:5%;
	padding-right:5%;
	background:#F0F0F0
}
.pic-img{
	width:30%;height:50px;margin-left:10%;vertical-align:middle;
}
.sms-button{
	width:30%;margin-left:10% !important;font-size:16px;background:#1cbb7f !important;color:#FFF !important;
}
.line_left{
	margin-left: 8px;
	border-left: 2px solid #E8E8E8;
	padding-left: 8px;
	height: 20px;
	font-size: 14px;
	color:#888888;
}

.login_index{
	margin-top: 20px;
	padding-left: 10%;
}
.login_index img{
	padding-left: 10%;
	width: 23%;
	vertical-align:middle;
}
.pass-img{
	height:50px !important;
	padding-left:50px !important;
	color: #888888;
    border: none !important;
    font-size: 13px	
}

.prev-user{display:block;background:url('../images/user.png') no-repeat center left;background-position:10px;background-size:23px 23px!important;}
.prev-pass{background:url('../images/pass.png') no-repeat center left;background-position:10px;background-size:23px 23px!important;}
.prev-mobile{background:url('../images/mobile.png') no-repeat center left;background-position:10px;background-size:23px 23px!important;}
.prev-check-mobile{background:url('../images/check_mobile.png') no-repeat center left;background-position:10px;background-size:23px 23px!important;}


.mobile-img{
	height:60px !important;
	padding-left:50px !important;
	background:url('../images/pass.png') no-repeat;background-position:10px 14px;}
}
.login-input input{
	padding-left: 50px;
	border: none !important
}
.login-button{
	height:40px;
	color:#FFF !important;
	background:#1cbb7f !important;
	width:100%;
	margin-top:30px;
	border-radius: 6px !important;
	border:none; 
}
.forget-pass{
	margin-top:15px;padding-left:10px;padding-right:10px;color:#1cbb7f;font-size:13px
}

.read{
	text-align: left;
	margin-top: 10px;
}
.read span{
	font-size: 14px;
}
.read_member{
	margin-left:30px;
	color:#1cbb7f
}
.account{
	float:right;margin-top:10px;font-size:12px
}