{include file="common:head"}
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">
  {include file="common:header"}
  <!-- Left side column. contains the logo and sidebar -->
  {include file="common:navbar"}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       {$bigTitle}
        <small>{$smallTitle}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">{$bigTitle}</a></li>
        <li class="active"><a href="#">{$smallTitle}</a></li>
      </ol>
    </section>

    <!-- Main content -->
      <!-- form start -->
      <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">

            <div class="box-header with-border">
              <h3 class="box-title">{$smallTitle}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Font Awesome Icons -->
              <form  action="{:url('add')}" method="post" id="add">
              {$form}
              </form>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-primary submit">添加</button>
              </div>
            </div>
            <!-- /.box-footer -->
          </div>
          </div>
          </div>
          <!-- /.nav-tabs-custom -->
        </section>
      </div>
 
  <!-- /.content-wrapper -->
  {include file="common:footer"}

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.0 -->
<script src="http://code.jquery.com/jquery-1.12.0.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
 $().ready(function (argument) {
    // 更新菜单
    $('.submit').click(function () {
        $.ajax({
          cache: true,
          type: "POST",
          url : '{:url('add')}',
          data: $('#add').serialize(),
          async: false,
            success: function(data) {
              if (data.code) {
                  alert(data.msg);
                  setTimeout(function () {
                    location.href = data.url;
                  }, 1000);
              } else {
                  alert(data.msg);
              }

            },
            error: function(request) {
              alert("页面错误");
            }
        });
    });
 });
</script>
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>

<script src="STATIC_PATH/dist/js/app.min.js"></script>

</body>
</html>